/* Diagnostic Styling */
/* * {
    outline: 1px dotted gray;
} */

[data-theme] {
    background-color: #111823;
}

h1 {
    color: #ff4654;
}

.card-gradient {
    background: linear-gradient( #ba3a46, #111823); /* Change the colors as needed */
}