/* Diagnostic Styling */
/* * {
    outline: 1px dotted gray;
} */

[data-theme] {
    background-color: #111823;
}

/* h1 {
    color: #ff4654;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
} */

.card-gradient {
    background: linear-gradient( #ba3a46, #111823); /* Change the colors as needed */
}

.card-gradient p {
    color: #c6c6c6;
}

.card-gradient h2 {
    color: white;
}

#ded3520f-4264-bfed-162d-b080e2abccf9 {
    display: none;
}

.badge-outline {
    color: #c6c6c6;
}